<a [routerLink]="['/themes-musicaux', chanson._id]" class="block">
  <div class="grid grid-cols-[40px_1fr_80px]  items-center h-16 bg-zinc-900  my-2 hover:bg-zinc-800 rounded-lg">
      <p class="text-zinc-300 text-center text-sm">{{index + 1}}</p>

      <div class="flex flex-col justify-center min-w-0 p-2">
          <p class="text-base font-medium truncate leading-tight">{{chanson.titre}}</p>
          <p class="text-xs text-zinc-300 truncate leading-tight mt-0.5">{{chanson.nomArtiste}}</p>
      </div>

      <p class="text-xs text-zinc-300 text-right whitespace-nowrap px-2">
          {{chanson.dureeSecondes ?? 0 | convertSecondsToMinSec}}
      </p>
  </div>
</a>
