<div class="flex flex-col m-20 h-screen">
    <h1 class="text-4xl font-bold">A propos</h1>
    <p class="text-lg text-green-600">UNI.Music est un site web qui permet de gérer des listes de chansons.</p>
    <p class="text-xs my-5">En 2024, j'ai créé ce site web pour partager mes listes de chansons avec mes amis. <br>
        J'ai utilisé Angular pour le front-end et Node.js pour le back-end. <br>
        J'ai utilisé MongoDB pour stocker les données. <br>
        J'ai utilisé Express pour les requêtes HTTP. <br>
        J'ai utilisé Tailwind CSS pour le style. <br>
        J'ai utilisé Angular Material pour les composants. <br>
    </p>
    <div class="w-96 h-1 bg-gray-200 my-5 rounded-full mx-auto"></div>

    <h2 class="text-2xl font-bold">
      Pourquoi UNI.Music ?
    </h2>
    <p class="text-xs my-2 w-1/2">
      Notre but est de partager des listes de chansons avec nos amis etudiant â la fac.
      et de pouvoir consommer des listes de chansons et ablum a petit cout.
    </p>
    <p class="text-xs w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, asperiores deleniti dolorem deserunt assumenda dignissimos quos qui dicta illum culpa illo perferendis dolor tempore at facere, error veniam laborum totam.
</div>
